# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
*.secret
secrets/
credentials/
*.json

# Logs
logs/*
!logs/.gitkeep

# Data files
*.csv
*.parquet
*.avro
*.orc
*.xlsx

# But allow sample/config CSV if needed
!configs/*.csv
!configs/dev/*.csv
!tests/sample_data/*.csv

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json